.chat {
  flex: 2;
  border-right: 1px solid #dddddd35;
  border-left: 1px solid #dddddd35;
  height: 90vh;
  display: flex;
  flex-direction: column;

  .top {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd35;

    .user {
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
      }

      .texts {
        display: flex;
        flex-direction: column;
        gap: 5px;

        h2 {
          display: flex;
          font-weight: 500;
          font-size: 18px;
          align-items: center;

          .verified {
            width: 15px;
            height: 15px;
            margin-left: 5px;
          }
        }

        p {
          font-size: 12px;
          color: #dddddd54;
          font-size: 14px;
        }
      }
    }

    .icons {
      display: flex;
      gap: 20px;

      img {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  }

  .center {
    display: flex;
    padding: 20px;
    flex: 1;
    overflow: scroll;
    flex-direction: column;
    gap: 20px;

    .message {
      max-width: 80%;
      display: flex;
      gap: 20px;

      &.own {
        align-self: flex-end;

        .texts {
          p {
            background-color: rgba(36, 63, 119, 0.75);
          }
        }
      }

      img {
        object-fit: cover;
        width: 36px;
        height: 36px;
        border-radius: 50%;
      }

      .texts {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 5px;

        .icon {
          img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
          }
        }

        .file-message {
          display: flex;
          align-items: center;
          padding: 8px;
          border-radius: 8px;
          margin: 10px 0;
          background-color: rgba(36, 63, 119, 0.75);
          max-width: 300px;

          &.own {
            background-color: #2763a8;
          }
        }

        .file-icon img {
          width: 40px;
          height: 40px;
          margin-right: 12px;
        }

        .file-details {
          display: flex;
          flex-direction: column;
        }

        .file-name {
          font-weight: bold;
          color: #9cbcdf;
          text-decoration: none;
        }

        .file-name:hover {
          text-decoration: underline;
        }

        .file-size {
          font-size: 12px;
          color: rgb(233, 220, 220);
        }

        .ownImg {
          width: 100%;
          height: 300px;
          object-fit: cover;
          border-radius: 5px;
        }

        .ownVideo {
          width: 100%;
          height: 300px;
          border-radius: 5px;
        }

        p {
          padding: 20px;
          border-radius: 10px;
          background-color: rgba(17, 25, 40, 1);
          color: #fff;
          word-break: break-word;

          a {
            color: #27a89e;
          }
        }

        span {
          font-size: 13px;
        }
      }
    }
  }

  .center::-webkit-scrollbar {
    display: none;
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid #dddddd35;
    gap: 10px;
    margin-top: auto;

    .icons {
      display: flex;
      gap: 20px;
      position: relative;

      /* .video {
        width: 22px;
        height: 21px;
        cursor: pointer;
        object-fit: cover;
      } */

      .plus:hover {
        animation: rotate 1s ease infinite;
      }

      .card {
        transition: all 0.5s ease;
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 10px;
        bottom: 50px;
        background-color: rgba(33, 59, 107, 0.75);
        border-radius: 5px;
        padding: 10px;
        color: #fff;
        font-size: 14px;
        padding: 20px 15px;
        border-radius: 5px 10px 10px 10px;
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);

        label {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
        }
      }

      img {
        width: 20px;
        height: 20px;
        object-fit: cover;
        cursor: pointer;
      }
    }

    .emoji {
      position: relative;

      img {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }

      .picker {
        position: absolute;
        left: 0;
        bottom: 50px;
      }
    }

    input {
      flex: 1;
      border: none;
      font-size: 16px;
      outline: none;
      padding: 10px 20px;
      background-color: rgba(17, 25, 40, 0.75);
      border-radius: 12px;
      color: #fff;
    }

    .sendButton {
      color: #fff;
      background-color: rgba(36, 63, 119, 0.75);
      padding: 10px 20px;
      outline: none;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .sendButton:disabled {
      cursor: not-allowed;
      background-color: rgba(12, 25, 51, 0.404);
    }
  }
}

@keyframes rotate {
  to {
    transform: rotate(180deg);
  }
}
